<span class="close-icon" style="float:right;" (click)="closeDialog()">X</span>
<p class="confirm-message">Ürünü sepetinizden sildikten sonra favorilerinzde saklamak ister misiniz?</p>
<div class="actions">
  <button mat-button style="width:100px;height:30px;background-color:white;color:blue;border-radius: 10px;border-color: blue;" (click)="onConfirmClick()">Sil</button>
  <button mat-button style="width:250px;height:30px;background-color:blue;color:white;border-radius: 10px;border-color: blue;margin-left:20px" (click)="onCancelClick()">Sil ve Favorilere Ekle</button>
</div>