* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    background-color: #f7f7f7;
  }
  

  .fav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .fav-items {
    flex: 1;
  }
  
  .fav-title {
    color: #61666A;
    font: normal bold 24px "Rubik", sans-serif;
    margin-bottom: 10px;
    margin-left:20px
  }
  
  .fav-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .product-image {
    width: 180px;
    height: 240px;
    margin-right: 20px;
  }
  
  .product-details {
    flex: 1;
  }
  
  .product-name {
    font: normal normal 24px "Rubik", sans-serif;
    color: #61666A;
  }
  
  .product-size {
    font: normal normal 22px "Rubik", sans-serif;
    color: #61666A;
    margin-top: 10px; 
  }
  
  .product-price-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
    letter-spacing: 0px;
    color: #0047BA;
    opacity: 1;
  }
  
  .product-color {
    font: normal normal 22px "Rubik", sans-serif;
    color: #61666A;
  }
  
  .product-code {
    text-align: left;
    font: normal normal 20px "Rubik", sans-serif;
    letter-spacing: 0px;
    color: #ADB5BD;
    opacity: 1;
  }
  


  .btn-remove,
  .btn-fav {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
  }
  
  .btn-fav {
    margin-left: 5px;
  }
  
  
  .btn-checkout {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
