.footer {
    margin-top:60px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text {
    color: #61666a;
    font: normal normal bold 18px "Rubik", sans-serif;
  }
  
  .contact {
    margin-left: auto;
    margin-top: 10px;
  }
  
  .contact img {
    margin-left: 10px;
    margin-right:20px;
  }

  .contact-text{
    color: #61666a;
    font: normal normal bold 18px "Rubik", sans-serif;


  }