<mat-toolbar color="white" class="footer">
    <span class="footer-text">Uygulamayı indirin</span>
    <img [src]="'./assets/Image8.png'"   alt="Favori" style="margin-left:10px" >
    <img [src]="'./assets/Image9.png'"   alt="Favori" style="margin-left:10px" >
    <img [src]="'./assets/Image10.png'"   alt="Favori" style="margin-left:10px">

   <div class="contact">
    <span class="contact-text">Bizi takip edin</span>
    <img [src]="'./assets/fb.svg'"   alt="Favori" >
    <img [src]="'./assets/in.svg'"   alt="Favori"  >
    <img [src]="'./assets/instagram.svg'"   alt="Favori" >
    <img [src]="'./assets/youtube.svg'"   alt="Favori"  >
   </div>


  </mat-toolbar>